<app-navbar></app-navbar>
<section class="" style="background-color: black;">
      <div class="container">
        <div class="row side-border" style="border-left: 6px solid red" >
                <div class="col-md-12" >
                    <div class="background image-container ">
                        <h3 class="" style="font-weight: bold;color: white;margin-top: 200px;margin-left: 50px;">
                            <h1 class="text-danger text-center fw-bold" style="font-size: 50px;text-align: center;">A2Z IT HUB</h1>
                            <p style="text-align: justify;text-align: center;">Experience digital excellence with our custom-built<br> websites and intuitive software solutions.</p>
                        </h3>
                    </div>
                </div>
                <br><br>
                <div class="col-md-6 text-center">
                    <br><br>
                    <br><br>
                    <br><br>
                    <span class="text-light ">
                        <p style="text-align: center;font-size: 30px;" class="unlock">Unlock the power of <br>
                            innvotation with our <br>cutting-edge
                            website and <br>software solutions.
                        </p>
                    </span>
                </div>
                <div class="col-md-6 mb-5">
                    <img src="https://a2zithub.org/assets/img10.png" class="image-containe" width="100%" height="400px">
                </div>
                <br><br>
                <div class="col-md-4">
                    <h2 class="ml-4"><span class="text-danger">Application</span><br>
                        <b class="text-light">Development</b></h2>
                        <b class="text-light">Experience the power of <span class="text-danger">tailored application</span><br> development that brings your <span class="text-danger">ides to life .</span> </b>
                </div>
                <div class="col-md-4">
                    <h2 class="ml-4"><span class="text-danger">Web</span><br>
                        <b class="text-light">Development</b></h2>
                        <b class="text-light">Experience the power of <span class="text-danger">tailored Web</span><br> development that brings your <span class="text-danger">ides to life .</span> </b>
                </div>
                <div class="col-md-4 mb-5">
                    <h2 class="ml-4"><span class="text-danger">Software</span><br>
                        <b class="text-light">Development</b></h2>
                        <b class="text-light">Experience the power of <span class="text-danger">tailored Software</span><br> development that brings your <span class="text-danger">ides to life .</span> </b>
                </div>
                <div class="col-md-12">
                    <br>
                <h4><b class="text-light "> A </b><span class="text-danger">Landmark</span></h4>
                <h3><b class="text-light">partnership expansion <br>
                    with a2z for <span class="text-danger"> enhanced </span>Business</b></h3>
                </div>
                    <div class="container">
                        <div class="row">
                                <div class="col-md-3 " style="padding: 35px;">
                                    <h1 class="text-light">Singavi Jewellers</h1>
                                    <p class="text-light">SingaviJewellers.com is Designed and deployed a visually stunning digital marketing campaign for a high-end jewelry brand, increasing brand awareness and driving customer engagement.</p>
                                    <button class="btn btn-light">Wanna Check ?</button>
                                </div>
                                 <div class="col-md-3 " style="padding: 35px;">
                                    <h1 class="text-light">Nagebaba Multistate</h1>
                                    <p class="text-light">Successfully implemented a centralized ERP system for a multi-state business, enabling seamless communication, streamlining operations, and improving overall efficiency.</p>
                                    <button class="btn btn-light">Wanna Check ?</button>
                                </div>
                                <div class="col-md-3 " style="padding: 35px;">
                                    <h1 class="text-light">RNaravade EMPIRE</h1>
                                    <p class="text-light">R Narvade Empire is a commercial building project for a client who constructs a high-rise condominium, offering luxury living spaces with breathtaking views and top-notch amenities.</p>
                                    <button class="btn btn-light">Wanna Check ?</button>
                                </div>
                                <div class="col-md-3 " style="padding: 35px;">
                                    <h1 class="text-light">Sri Balaji Transport</h1>
                                    <p class="text-light">Developed a comprehensive transportation management system, enabling efficient route planning, real-time tracking, and streamlined logistics operations for a transport company.</p>
                                    <button class="btn btn-light">Wanna Check ?</button>
                                </div>
                        </div>
                    </div>
            
                <div class="col-md-6 " >
                    <br><br>
                    <br><br>
                    <h1><b class="text-danger">Explore </b><span class="text-light">like never before...</span></h1>
                    <h6><p class="text-light">At <b class="text-danger">A2Z , </b> we offer a range of <b class="text-danger">IT services</b> designed to help businesses of all<br>
                        sizes <b class="text-danger">laverage technolgy </b>to drive  <b class="text-danger">growth and success .</b>  
                    </p>
                    </h6>
                </div>
                <div class="col-md-6">
                <div class="col-md-12">
                    <div  class="box1" style="height: 200px;width: 200px;float: left;border: 1px solid white;text-align: center;"  >
                        <br><br>
                    <i class="fa-regular fa-message text-light " style="font-size: 40px;"></i>

                        <br><br>
                        <b class="text-light mt-4">Custom Software Development</b>
                    </div>
                    <div style="height: 200px;width: 200px;float: left;border: 1px solid white;text-align: center; margin-left: 100px;">
                        <br><br>
                        <i class="fa-solid fa-list-check" style="font-size: 40px;color: white;"></i>
                        <br><br>
                        <b class="text-light mt-4">Web Application Development</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box3" style="height: 200px;width: 200px;margin-top:50px;float:  left;border: 1px solid white;text-align: center;" >
                        <br><br>
                        <i class="fa-solid fa-square-poll-vertical" style="font-size: 40px; color: white;"></i>

                        <br><br>
                        <b class="text-light mt-4">Mobile Application Development</b>
                    </div>
                    <div style="height: 200px;width: 200px;margin-top:50px;float:  left;border: 1px solid white;text-align: center; margin-left: 100px;" >
                        <br><br>
                        <i class="fa-solid fa-shapes" style="font-size: 40px; color: white;"></i>
                        <br><br>
                        <b class="text-light mt-4">Digital Marketing</b>
                    </div>
                </div>
                </div>
                <br><br>
                <br><br>

                <div class="col-md-12 text-center">
                    <img src="https://a2zithub.org/assets/quote.svg" alt="" height="250px">
                </div>
                <div class="col-md-12 text-center mb-5" >
                        <p class="text-justify-center text-light" style="font-weight: bold;">                
                            Their level of expertise and professionalism is unmatched,<br> and we highly recommend their services to anyone <br>looking to leverage technology to grow their business
                        </p>
                        <br>
                        <h1 class="text-light">Kadubhau kale
                            <br>
                        </h1>
                        <h3 class="text-light">(Chaiman of Nagebaba Multistate)
                        </h3>
                        <img src="https://a2zithub.org/assets/nagebaba.webp" height="
                        150px" width="150px" style="border-radius: 10px;">
                </div>
                <br><br>
                <br><br>
                <div class="col-md-6">
                    <img src="https://collbox.in/img/non_actimg1.png" width="200px"
                    height="200px" style="margin-left: 100px;">
                    <br><br>
                    <h1 class="text-danger">We're Here to <br>Listen</h1>
                  <h2 class="text-light">Ready To the Mistake next stop ? Contact Us !</h2>  

                </div>
                <div class="col-md-6 " style="border: 1px solid white; background-color: black;;">
                   <form action=""   style="background-color: black;text-align: center;margin-bottom: 30px">
                    <br><br>
                    <h3 class="text-danger">Contact us now !</h3>
                    <h4 class="text-light">Enter Your Name</h4>
                    <input style="border: none !important;border-bottom: 1px solid white;" type="text" name="" id="" class="form-control mb-2">
                    <h4 class="text-light">Enter Your Mobile</h4>
                    <input style="border: none !important;border-bottom: 1px solid white;" type="text" name="" id="" class="form-control mb-2">
                    <h4 class="text-light">Enter Your Email</h4>
                    <input style="border: none !important;border-bottom: 1px solid white;" type="text" name="" id="" class="form-control mb-2">
                    <h4 class="text-light">Enter Your Message</h4>
                    <input style="border: none !important;border-bottom: 1px solid white;" type="text" name="" id="" class="form-control mb-2">
                    <br>
                    <button class="btn btn-danger" type="button">Submit</button>
                   </form>
                </div>
        </div>
    </div>
</section>
<app-footer></app-footer>





