<app-navbar></app-navbar>
    <section style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="backgorund-image" style="opacity: 1.0;width: 100%;"  >
                    <h1 class="text-danger mt-5" style="font-size: 50px;">About Us</h1>
                    <h3 class="text-light" style="color: white;font-size: 60px;">A2Z IT HUB  PVT. LTD.</h3>
                    <p class="text-light" style="font-size: 20px;">At A2Z IT Hub , We believe in unleashing the full potential of to drive your 
                    <br><span class="text-danger">business forward.</span> With our expertise and innovate solution , we empower you to say 
                    <br>ahed of the competition and <span class="text-danger">achieve remarkable success.</span> 
                    </p>
                </div>
            </div><br>
            <div class="col-md-8">
                <h1 class="text-danger " style="margin-top: 100px;" >Our Mission</h1>
                <p class="text-light" style="font-size: 20px;">Our mission is to enable the success of our clients. We are commited to 
                <br> understanding their unique needs , challeges and goals , and <span class="text-danger">delevering 
                <br> costomized solutions.</span> By partnering with our clients , we aim to create long -
                <br>tern value . 
                </p>
                <hr style="color: white;">
                <h1 class="text-danger">Our Vision</h1>
                <p class="text-light" style="font-size: 20px;">Our vision to make significant and <span class="text-light"  >positive impact</span> on the business we
                <br> serve helping them harness the full potential of technolgy and naviagate 
                <br> the ever- evoling digital landscape with <span class="text-danger">confidence</span> and  <span class="text-danger">success .</span>
                </p> 
            </div>
            <div class="col-md-4 mt-3">
                <img src="https://a2zithub.org/assets/img22.png" alt="" width="100%" height="500px" >
            </div>
            <div class="col-md-8">
             <div class="container">
                <div class="row ">
                    <div class="col-md-6 p-2 innovation_media" style="border-bottom: 2px solid white;">
                        <h1 class="text-danger">Innovation</h1>
                        <p class="text-light" style="font-size:20px ;">Embrace and drive<br>
                            technolgical innovatio.
                        </p>
                    </div>
                    <div class="col-md-6 p-2 innovation_media" style="border-bottom: 2px solid white;">
                        <h1 class="text-danger">Quality</h1>
                        <p class="text-light" style="font-size:20px ;"><br>Deliver high-quality solutions<br>
                            and services.
                        </p>
                    </div>
                    <div class="col-md-6 p-2 innovation_media" style="border-bottom: 2px solid white;">
                        <h1 class="text-danger">Focus</h1>
                        <p class="text-light" style="font-size:20px ;">Prioritiz client satisfication and <br>
                            personlized solutions.
                        </p>
                    </div>
                    <div class="col-md-6 p-2 innovation_media" style="border-bottom: 2px solid white;">
                        <h1 class="text-danger">Improvement</h1>
                        <p class="text-light" style="font-size:20px ;">Learn , adpt and improve<br>
                            continuosly.
                        </p>
                    </div>
                    <div class="col-md-6 p-2 innovation_media" style="border-bottom: 2px solid white;">
                        <h1 class="text-danger">Reliability</h1>
                        <p class="text-light" style="font-size:20px ;">Ensure reliable and robust<br>
                            software and appliactions.
                        </p>
                    </div>
                    <div class="col-md-6 p-2 innovation_media" style="border-bottom: 2px solid white;">
                        <h1 class="text-danger">Accountability</h1>
                        <p class="text-light" style="font-size:20px ;">Take ownership and deliver on<br>
                            commitments.
                        </p>
                    </div>
                </div>
             </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 100px;">
                <img src="https://a2zithub.org/assets/img19.png" style="opacity:0.6;" width="100%">
            </div>
            <div class="col-md-6 mt-3">
                <h1 class="text-danger" style="margin-top: 100px;">OUR BEST CLIENTS</h1>
                <p class="text-light"  style="text-align: justify;font-size: 20px;">Working with A2Z was a game-changer for our <br>
                    business their expert provided us with right IT <br>
                    solution to improve your operations and streamline <br> 
                    our process.
                </p>
                <h1 class="text-light ml-2" >Rohit Narwade</h1>
                <b class="text-light" style="font-size: 20px;">( Director of RNARWADE EMPIRE PVT. LTD. ) </b>
            </div>
            <div class="col-md-6">
               <div class="row">
                <div class="col-md-4 p-3"  >
                    <img src="https://a2zithub.org/assets/nagebaba.webp" width="100%" style="height: 150px;">
                </div>
                <div class="col-md-4 p-3">
                    <img src="https://a2zithub.org/assets/rnempire.png" width="100%">
                </div>
                <div class="col-md-4 p-3">
                    <img src="https://a2zithub.org/assets/shingavi.jpg" width="100%" >
                </div>
                <div class="col-md-4 p-3">
                    <img src="https://a2zithub.org/assets/global_logo2.jpeg" width="100%" style="height: 150px;">
                </div>
                <div class="col-md-8 p-3 mt-3">
                    <img src="https://a2zithub.org/assets/nirmal.png" width="100%">
                </div>
                <div class="col-md-4 p-3">
                    <img src="https://a2zithub.org/assets/SBTL%20logo-02.png" width="100%" style="height: 150px;">
                </div>
                <div class="col-md-8 p-2">
                    <img src="https://a2zithub.org/assets/167783776522983034.jpeg" width="100%" style="height: 150px;">
                </div>
               </div>
               
            </div>
            <div class="col-md-6">
                <img src="https://collbox.in/img/non_actimg1.png" width="200px"
                height="200px" style="margin-left: 100px;">
                <br><br>
              <li>  <h1 class="text-danger we_are_here_to_listen">We're Here to <br>Listen</h1></li>
              <h2 class="text-light ready_to_the_mistake_next_stop">Ready To the Mistake next stop ? Contact Us !</h2>  
            </div>
            <div class="col-md-6 " style="border: 1px solid white; background-color: black;">
               <form action=""  class="mb-3" style="background-color: black;text-align: center;">
                <br><br>
                <h3 class="text-danger">Contact us now !</h3>
                <h4 class="text-light">Enter Your Name</h4>
                <input style="border: none !important;border-bottom: 1px solid white;" type="text" name="" id="" class="form-control mb-2">
                <h4 class="text-light">Enter Your Mobile</h4>
                <input style="border: none !important;border-bottom: 1px solid white;" type="text" name="" id="" class="form-control mb-2">
                <h4 class="text-light">Enter Your Email</h4>
                <input style="border: none !important;border-bottom: 1px solid white;" type="text" name="" id="" class="form-control mb-2">
                <h4 class="text-light">Enter Your Message</h4>
                <input style="border: none !important;border-bottom: 1px solid white;" type="text" name="" id="" class="form-control mb-2">
                <button class="btn btn-danger mb-4" type="button">Submit</button>
               </form>
            </div>
        </div>
    </div>
    </section>
<app-footer></app-footer>
     
           