<div class="col-md-12 text-center " style="background-color:black ;height: 100px;">
    <br><br>
   <a href="" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a>
       <a href="https://wa.me/9011144902" target="_blank"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
       <a href="https://www.linkedin.com/company/a2zinfotechs/mycompany/" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
      <a href="info@a2zithub.org" target="_blank"><i class="fa-brands fa-instagram " ></i> <b class="insta"> Instagram</b></a>
      <a href="" target="_blank"><i class="fa-solid fa-phone"></i> Call Now </a>
      <a href="" target="_blank"><i class="fa-solid fa-envelope"></i> Mail </a>
</div>
