<app-navbar></app-navbar>
<section style="background-color: black;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 text-center">
                <h1 class="text-danger" style="font-size: 100px;margin-top: 150px;">Career</h1><br>
            <p style="font-size: 30px;"><b class="text-light" >Make Your Mark: Be a Part of Our Journey toward Technologies Excellence!
            </b>
            </p>
            </div>
            <div class="col-md-5" style="height: 400px;width: 400px;margin-bottom: 150px;">
                <img src="https://a2zithub.org/assets/bridge-gap.png" class="" width="100%" style="border: 20px solid white;background-color: w;" >
            </div>
            <div class="col-md-6 text-center">
                <h3 class="text-light" style="font-size: 40px;margin-top: 150px;">Your Next Adventure </h3>
                <h1 class="text-danger" >Share Your Resume</h1>
                <h3  class="text-light" style="font-size: 40px;">info&#64;a2zithub.org</h3>
            </div>
            <div class="col-md-6" style="height: 400px;width: 400px;">
                <img src="https://a2zithub.org/assets/istockphoto-1289179883-170667a.jpg" width="100% " style="border: 20px solid white">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>

